@import './../../global.scss';

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    @extend .center-content;
    z-index: 1000;
    padding: 0 30px;

    .modal {
        background: white;
        border-radius: 5px;
        width: 100%;
        position: relative;
        overflow: hidden;

        &-header {
            background-image: url('@/assets/images/background.jpg');
            height: 220px;
            background-position: center;
            position: relative;
            @extend .center-content;

            .pokemon-image {
                width: 180px;
                height: 180px;
                object-fit: contain;
            }

            .close-button {
                position: absolute;
                top: 15px;
                right: 15px;
                width: 26px;
                height: 26px;
                cursor: pointer;
            }
        }


        &-body {

            padding: 20px 30px;

            .info-list {
                list-style: none;
                padding: 0;
                margin-bottom: 20px;

                li {
                    padding-bottom: 10px;
                    border-bottom: 1px solid #E8E8E8;
                    margin-bottom: 10px;
                    font-size: 18px;

                    strong {
                        font-weight: bold;
                    }
                }
            }

            .modal-footer {
                @extend .center-content;
                justify-content: space-between;
                gap: 16px;
            }
        }
    }
}

@media(min-width: $breakpoint-lg) {
    .modal {
        max-width: 570px;
    }
}