@import './../../global.scss';

.pokemon-card {
    height: 60px;
    background-color: white;
    @extend .center-content;
    justify-content: space-between;
    padding: 8px 10px 8px 20px;
    border-radius: 5px;

    h1 {
        font-size: 22px;
        font-weight: 500;
        line-height: 26.4px;
    }
}