@import './../../global.scss';

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    @extend .center-content;
    z-index: 1000;
    padding: 0 30px;

    .modal {
        background: white;
        border-radius: 5px;
        width: 100%;
        position: relative;

        // .modal-header {
        //     display: flex;
        //     justify-content: flex-end;

        //     .close-button {
        //         background: transparent;
        //         border: none;
        //         font-size: 20px;
        //         cursor: pointer;
        //         font-weight: bold;
        //         color: #666;

        //         &:hover {
        //             color: #333;
        //         }
        //     }
        //}

        .modal-body {
            .modal-image {
                height: 220px;
            }

            .background-image {
                object-fit: cover;
            }

            .modal-content {
                padding: 20px 30px;

                .info-list {
                    list-style: none;
                    padding: 0;
                    margin-bottom: 20px;

                    li {
                        padding-bottom: 10px;
                        border-bottom: 1px solid #E8E8E8;
                        margin-bottom: 10px;
                        font-size: 18px;

                        strong {
                            font-weight: bold;
                        }
                    }
                }

                .share-button {
                    background-color: #e74c3c;
                    color: white;
                    padding: 10px 15px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    font-size: 14px;

                    &:hover {
                        background-color: #c0392b;
                    }
                }
            }
        }
    }
}