@import './../../global.scss';

.favorite-circle {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $grey-200;
    @extend .center-content;
    cursor: pointer;

    .favorite {
        fill: $gold;
    }

    .not-favorite {
        fill: $grey-600;
    }
}