@import './../../global.scss';

.footer-bar {
    position: absolute;
    bottom: 0;
    background-color: white;
    height: 80px;
    box-shadow: 0px -5px 4px 0px #0000000D;
    width: 100%;
    z-index: 10;
    @extend .center-content;


    &-content {
        padding: 0 30px;
        display: flex;
        gap: 15px;
        width: 100%;
    }

    button {
        width: 100%;
    }
}

@media(min-width: $breakpoint-lg) {
    .footer-bar-content {
        padding: 0;
        max-width: 570px;
    }
}