//Colors
$gold: #ECA539;
$primary-red: #F22539;
$secondary-red: #C00E20;
$grey-100: #F9F9F9;
$grey-200: #F5F5F5;
$grey-400: #E8E8E8;
$grey-600: #BFBFBF;
$grey-800: #5E5E5E;
$grey-900: #353535;

//Media-queries
$breakpoint-lg: 768px;